[run]
branch = True
source = euphonic

[paths]
euphonic =
    euphonic
    */site-packages/euphonic
    .tox/*/site-packages/euphonic

[report]
include =
    */euphonic/*
exclude_lines =
    @overload
