name: create-landing-page
on:
  push:
    branches:
      - master
    paths:
      - 'CITATION.cff'

  workflow_call:
    inputs:
      ref:
        description: "Target: 'latest' or tag"
        required: true
        type: string
        default: latest

jobs:
  update-landing-page:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: gh-pages
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Update pip and install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install cffconvert==2.0.0
          python -m pip install pyyaml==6.0
      - name: Set env var based on (master) push trigger
        if: github.event_name == 'push'
        run: echo "PAGE_TYPE=latest" >> $GITHUB_ENV
      - name: Set env var based on workflow call
        if: (github.event_name == 'workflow_call') || (github.event_name == 'workflow_dispatch')
        run: echo "PAGE_TYPE=${{ inputs.ref }}" >> $GITHUB_ENV
      - name: Create landing page
        run: python write_doi_landing_page.py ${{ env.PAGE_TYPE }}
      - uses: EndBug/add-and-commit@v9
        with:
          add: '["index.markdown", "versions/*.markdown"]'
          default_author: github_actions
          message: 'Update ${{ env.PAGE_TYPE }} landing page'

