name: run-tests-gcc-14
run-name: Run tests from source with GCC-14
on:
  workflow_call:

# Most euphonic tests/builds use Clang, but users might have GCC.
# New GCC versions often promote bad practices from warnings to errors,
# so a GCC update can unexpectedly break things.
# It would be neat to somehow ensure automatically that we are using a
# very recent GCC. Otherwise, this workflow will need updating occasionally.

jobs:
  test:
    runs-on: ubuntu-24.04
    env:
      PYTHON_VERSION: |
        3.12

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Ensure tags are fetched for versioning
          fetch-tags: true
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Check gcc-14 exists and set as C compiler
        shell: bash -l {0}
        run: |
          which gcc-14 || exit
          echo CC="gcc-14" >> $GITHUB_ENV

      - name: Update pip and install dependencies
        shell: bash -l {0}
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r tests_and_analysis/ci_requirements.txt

      - name: Install Euphonic (verbosely)
        shell: bash -l {0}
        run: |
          python -m pip install -v .

      - name: Run tests
        shell: bash -l {0}
        run: python -m tox -e py312 -- --parallel

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Unit test results Ubuntu + GCC-14
          path: tests_and_analysis/test/reports/junit_report*.xml
